<section class="section-header">
	<h3>News Items</h3>
	<%= link_to("+ Add News Item", {:controller => "news_items", :action => "new"}, :class => "btn btn-default") %>
</section>

<br />

<section id="news-items-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
		<% @news_items.each do |news_item| %>
			<tr>
				<td><%= news_item.title %></td>
				<td>...</td>
				<td><%= news_item.date %></td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'news_items', :action => 'show', :id => news_item.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'news_items', :action => 'edit', :id => news_item.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'news_items', :action => 'delete', :id => news_item.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>

<section class="section-header">
	<h3>About Content</h3>
	<% if @found_content %>
	<%= link_to("+ Add About Content", {:controller => 'about', :action => 'new'}, :class => 'btn btn-default disabled') %>
	<% else %>
	  <%= link_to("+ Add About Content", {:controller => 'about', :action => 'new'}, :class => 'btn btn-default') %>
	<% end %>
</section>

<br />

<section id="about-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Actions</th>
		</tr>
		<% @about_content.each do |about| %>
			<tr>
				<td><%= about.title %></td>
				<td>...</td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'about', :action => 'show', :id => about.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'about', :action => 'edit', :id => about.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'about', :action => 'delete', :id => about.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>

<section class="section-header">
	<h3>Past Events</h3>
	<%= link_to("+ Add Past Event", {:controller => 'past_events', :action => 'new'}, :class => 'btn btn-default') %>
</section>

<br />

<section id="past-events-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Year</th>
			<th>Content</th>
			<th>Image URL</th>
			<th>Gallery URLs</th>
			<th>Actions</th>
		</tr>
		<% @past_events.each do |event| %>
			<tr>
				<td><%= event.year %></td>
				<td><%= event.content %></td>
				<td>...</td>
				<td>...</td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'past_events', :action => 'show', :id => event.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'past_events', :action => 'edit', :id => event.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'past_events', :action => 'delete', :id => event.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>

<section class="section-header">
	<h3>Future Events</h3>
	<%= link_to("+ Add Future Event", {:controller => 'future_events', :action => 'new'}, :class => 'btn btn-default') %>
</section>

<br />

<section id="future-events-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Year</th>
			<th>Content</th>
			<th>Image URL</th>
			<th>Event Times</th>
			<th>Actions</th>
		</tr>
		<% @future_events.each do |event| %>
			<tr>
				<td><%= event.year %></td>
				<td><%= event.content %></td>
				<td>...</td>
				<td>...</td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'future_events', :action => 'show', :id => event.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'future_events', :action => 'edit', :id => event.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'future_events', :action => 'delete', :id => event.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>

<section class="section-header">
	<h3>Videos</h3>
	<%= link_to("+ Add Video", {:controller => 'videos', :action => 'new'}, :class => 'btn btn-default') %>
</section>

<br />

<section id="videos-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Duration</th>
			<th>Video URL</th>
			<th>Type</th>
			<th>Actions</th>
		</tr>
		<% @videos.each do |video| %>
			<tr>
				<td><%= video.title %></td>
				<td><%= video.author %></td>
				<td><%= video.year %></td>
				<td><%= video.duration %></td>
				<td><a href="<%= video.video_url %>" target="_blank"><%= video.video_url %></a></td>
				<td><%= video.return_video_type %></td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'videos', :action => 'show', :id => video.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'videos', :action => 'edit', :id => video.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'videos', :action => 'delete', :id => video.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>

<section class="section-header">
	<h3>Social Media Links</h3>
	<%= link_to("+ Add Link", {:controller => "social_media_links", :action => "new"}, :class => "btn btn-default") %>
</section>

<br />

<section id="social-media-links-list">

	<table class="table table-bordered table-condensed table-striped">
		<tr>
			<th>Title</th>
			<th>URL</th>
			<th>Image URL</th>
			<th>Actions</th>
		</tr>
		<% @social_links.each do |social_link| %>
			<tr>
				<td><%= social_link.title %></td>
				<td><a href="<%= social_link.url %>" target="_blank"><%= social_link.url %></a></td>
				<td><%= social_link.image_url %></td>
				<td class="actions">
					<%= link_to("Show", {:controller => 'social_media_links', :action => 'show', :id => social_link.id}, :class => 'btn btn-default action show-action') %>
					<%= link_to("Edit", {:controller => 'social_media_links', :action => 'edit', :id => social_link.id}, :class => 'btn btn-default action edit') %>
					<%= link_to("Delete", {:controller => 'social_media_links', :action => 'delete', :id => social_link.id}, :class => 'btn btn-danger action delete') %>
				</td>
			</tr>
		<% end %>
	</table>

</section>