<% @page_title = "Add News Item" %>

<%= link_to("<< Back", {:controller => 'dashboard', :action => 'index'}, :class => 'back-link btn btn-default') %>

<br />

<section id="add-new-news-item">

	<h3>Add News Item</h3>

	<%= form_for(:news_item, :url => {:action => 'create'}) do |t| %>
		
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID For App</th>
				<td><%= t.text_field(:id_for_app) %></td>
			</tr>
			<tr>
				<th>Title</th>
				<td><%= t.text_field(:title) %></td>
			</tr>
			<tr>
				<th>Date</th>
				<td><%= t.text_field(:date) %></td>
			</tr>
			<tr>
				<th>Content</th>
				<td><%= t.text_area(:content, :cols => '50', :rows => '10') %></td>
			</tr>
		</table>

		<%= submit_tag("Create News Item", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
