<%= link_to("<< Back", {:controller => 'dashboard', :action => 'index'}, :class => 'back-link btn btn-default') %>

<br />

<section id="edit-event">

	<h3>Edit Future Event</h3>

	<%= form_for(:future_event, :url => {:controller => 'future_events', :action => 'update', :id => @future_event.id}) do |t| %>
		
		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>Year</th>
				<td><%= t.text_field(:year) %></td>
			</tr>
			<tr>
				<th>Content</th>
				<td><%= t.text_area(:content, :cols => '50', :rows => '10') %></td>
			</tr>
			<tr>
				<th>Image URL</th>
				<td><%= t.text_field(:image_url) %></td>
			</tr>
		</table>

		<%= submit_tag("Update Future Event", :class => "btn btn-success") %>

	<% end %>

</section>

<br />
